Project Startup/Assets/Plugins/FMOD/Cache
Project Startup/FMOD/Project Startup music and sounds/.cache/fsbcache
Project Startup/FMOD/Project Startup music and sounds/.cache
Project Startup/FMOD/Project Startup music and sounds/Metadata
Project Startup/fmod_editor.log
